sql_scripts/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "newcarsazureee"
        },
        "ls_sqldb_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'ls_sqldb'"
        },
        "ls_datalake_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_datalake'"
        },
        "ls_databricks_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'ls_databricks'"
        },
        "ls_sqldb_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "nomistake.database.windows.net"
        },
        "ls_sqldb_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "nomistake"
        },
        "ls_sqldb_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "nomistake"
        },
        "ls_git_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://raw.githubusercontent.com/"
        },
        "ls_datalake_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://newcarstoragebykishor.dfs.core.windows.net/"
        },
        "ls_databricks_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0323-100726-d71bk3mj"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ls_sqldb')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('ls_sqldb_properties_typeProperties_server')]",
                    "database": "[parameters('ls_sqldb_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('ls_sqldb_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('ls_sqldb_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_git')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('ls_git_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_datalake')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_datalake_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_datalake_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/source_prep')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "CopyGitdata",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "GET"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "Branch_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Branch_ID",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Dealer_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Dealer_ID",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Model_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Model_ID",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Revenue",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Revenue",
                                            "type": "Decimal",
                                            "physicalType": "decimal",
                                            "scale": 2,
                                            "precision": 18
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Units_Sold",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Units_Sold",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Date_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Date_ID",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Day",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Day",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Month",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Month",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Year",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Year",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BranchName",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BranchName",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "DealerName",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "DealerName",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Product_Name",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Product_Name",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "df_git",
                                "type": "DatasetReference",
                                "parameters": {
                                    "load_flag": "IncrementalSales.csv"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_sqldb",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "source_cars_data"
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-03-23T04:12:52Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/df_git')]",
                "[concat(variables('factoryId'), '/datasets/ds_sqldb')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/incremdatapipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_increm_data",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "last_load",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "current_load",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": {
                                    "value": "select * from source_cars_data where Date_ID>'@{activity('last_load').output.value[0].last_load}' AND Date_ID<='@{activity('current_load').output.value[0].max_date}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_sqldb",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "source_cars_data"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_bronze",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "last_load",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": "\nSELECT * from water_table\n",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "ds_sqldb",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "water_table"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "current_load",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": "select max(Date_ID)  as max_date from source_cars_data",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "ds_sqldb",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "source_cars_data"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "Stored procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy_increm_data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[UpdateWatermarkTable]",
                            "storedProcedureParameters": {
                                "lastload": {
                                    "value": {
                                        "value": "@activity('current_load').output.value[0].max_date",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_sqldb",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-03-23T04:12:52Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_sqldb')]",
                "[concat(variables('factoryId'), '/datasets/ds_bronze')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_sqldb')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_sqldb')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_sqldb",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "tableName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "Branch_ID",
                        "type": "varchar"
                    },
                    {
                        "name": "Dealer_ID",
                        "type": "varchar"
                    },
                    {
                        "name": "Model_ID",
                        "type": "varchar"
                    },
                    {
                        "name": "Revenue",
                        "type": "varchar"
                    },
                    {
                        "name": "Units_Sold",
                        "type": "varchar"
                    },
                    {
                        "name": "Date_ID",
                        "type": "varchar"
                    },
                    {
                        "name": "Day",
                        "type": "varchar"
                    },
                    {
                        "name": "Month",
                        "type": "varchar"
                    },
                    {
                        "name": "Year",
                        "type": "varchar"
                    },
                    {
                        "name": "BranchName",
                        "type": "varchar"
                    },
                    {
                        "name": "DealerName",
                        "type": "varchar"
                    },
                    {
                        "name": "Product_Name",
                        "type": "varchar"
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": {
                        "value": "@dataset().tableName",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_sqldb')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/df_git')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_git",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "load_flag": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                            "value": "anshlambagit/Azure-DE-Project-Resources/refs/heads/main/Raw%20Data/@{dataset().load_flag}",
                            "type": "Expression"
                        }
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "Branch_ID",
                        "type": "String"
                    },
                    {
                        "name": "Dealer_ID",
                        "type": "String"
                    },
                    {
                        "name": "Model_ID",
                        "type": "String"
                    },
                    {
                        "name": "Revenue",
                        "type": "String"
                    },
                    {
                        "name": "Units_Sold",
                        "type": "String"
                    },
                    {
                        "name": "Date_ID",
                        "type": "String"
                    },
                    {
                        "name": "Day",
                        "type": "String"
                    },
                    {
                        "name": "Month",
                        "type": "String"
                    },
                    {
                        "name": "Year",
                        "type": "String"
                    },
                    {
                        "name": "BranchName",
                        "type": "String"
                    },
                    {
                        "name": "DealerName",
                        "type": "String"
                    },
                    {
                        "name": "Product_Name",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_git')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_bronze')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_datalake",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "rowdata",
                        "fileSystem": "bronze"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_databricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-7405615622690863.3.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('ls_databricks_accessToken')]"
                    },
                    "existingClusterId": "[parameters('ls_databricks_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        }
    ]
}
